.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
vendor/
site/
.sass-cache
.venv/
__pycache__
assets/css/*.css
assets/css/*.map
lecture/build/
lecture/script.build.md
lecture/script.pdf
